:root {
    --brand-color: #C0CBDA;
    --dark-color: #475569;
    --mid-color: #CBD5E1;
    --light-color: #F8FAFC;
}

* {
    font-family: Arial, sans-serif;
    color: var(--dark-color);
    font-size: 2vh;
}

body {
    margin: 0;
    background-color: var(--brand-color);
    z-index: 0;
}

.centred {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centred_full {
    align-items: center;
    min-height: 100vh;
}

.inputWrap {
    position: relative;
    width: 100vmin;
}

.inputWrap input {
    width: 100%;
    height: 4vmin;
    border: none;
    background: transparent;
    outline: none;
    font-size: 4vmin;
    margin-top: 3vmin;
    margin-bottom: 0.5vmin;
    letter-spacing: 0.1em;
}

.inputWrap .formPlaceholder {
    font-size: 4vmin;
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: .5s;
}

.inputWrap input:valid~.formPlaceholder,
.inputWrap input:focus~.formPlaceholder {
    color: dodgerblue;
    transform: translateY(-5vmin);
    font-size: 2vmin;
}

.inputWrap i {
    position: absolute;
    width: 100%;
    height: 0.5vmin;
    left: 0;
    bottom: 0;
    background-color: black;
    overflow: hidden;
}

.inputWrap i::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    background: linear-gradient(90deg, #ff1b69, #ff0, #2196f3, #9c27b0, #ff1b69);
    animation: animate 2s linear infinite;
}

.inputWrap input:valid~i::before,
.inputWrap input:focus~i::before {
    left: 0;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position: 50vw;
    }
}

.underForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.changeForm {
    cursor: pointer;
    font-size: 2vmin;
}

.formSubmit {
    cursor: pointer;
    border-radius: 2vmin;
    border: none;
    font-size: 3vmin;
    margin: 1vmin 0 1vmin;
    background-color: var(--light-color);
    padding: 1vmin;
    transition: .3s;
    color: var(--dark-color);
}

.formSubmit:hover {
    transition: .3s;
    background-color: var(--dark-color);
    color: var(--light-color);
}

#change_language_main_wrap {
    display: flex;
    justify-content: flex-end;
}

.formHint {
    position: absolute;
    left: 105%;
    top: 30%;
    background-image: url("img/warningSmall.svg");
    background-size: 100%;
    width: 4vmin;
    height: 4vmin;
}

.mainnav {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: var(--dark-color);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 2vmin;
    margin-bottom: 1vmin;
}

.mainnav a {
    height: 100%;
    color: var(--light-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
    padding: 0 1vmin;
    white-space: nowrap;
}

.mainnav a:hover,
.mainnav a:active {
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: .1s;
}

.rightmainmenu * {
    cursor: pointer;
}

.rightmainmenu {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.select {
    cursor: pointer;
    background-color: var(--light-color);
    border-color: var(--dark-color);
    border-radius: 2vmin;
    min-width: 4vmax;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: .1s .3s;
}

.select_open {
    border-radius: 2vmin 2vmin 0 0;
    transition: .1s;
}

select:hover {
    background-color: var(--mid-color);
}

.selected {
    padding: 1vmin;
}

.select_options {
    position: absolute;
    min-width: inherit;
    padding: 0;
    background-color: inherit;
    max-height: 0;
    border-radius: 0 0 2vmin 2vmin;
    overflow: hidden;
    z-index: 1;
    transition: .3s;
}

.options_open {
    padding: 1vmin 0 1vmin 0;
    max-height: 10vmin;
    transition: .3s .1s;
}

.select_options div {
    padding: 0 0 0 1vmin;
}

.select_options div:hover,
.select_options div:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

#user_profile {
    border-top: .5vh solid var(--brand-color);
    border-bottom: .5vh solid var(--dark-color);
    padding: 0 1vmin;
    color: var(--light-color);
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10vw;
}

#user_profile:hover,
#user_profile:active {
    background-color: var(--light-color);
    border-bottom: .5vh solid var(--light-color);
    color: var(--dark-color);
    transition: .1s;
}

#user_menu_wrap {
    height: 100%;
    margin: 0 0 0 1vh;
    margin-right: 3vw;
}

#user_profile::after {
    content: ">";
    position: absolute;
    rotate: 90deg;
    top: 4.5vh;
}

#user_menu_wrap:hover #user_menu {
    display: block;
    transition: .1s;
}

#user_menu {
    margin: 0;
    display: none;
    transition: .1s;
    position: absolute;
}

#user_menu a {
    background-color: var(--dark-color);
    color: var(--light-color);
    border-top: 1px solid var(--mid-color);
    padding: 1vmin;
    height: auto;
    transition: .1s;
}

#user_menu a:hover,
#user_menu a:active {
    color: var(--dark-color);
    background-color: var(--light-color);
    transition: .1s;
}

#title_problem {
    width: 100vmin;
    height: 6vmin;
    font-size: 5vmin;
    border-radius: 1vmin;
    border: none;
    color: var(--dark-color);
    outline: none;
    background-color: var(--light-color);
    padding: 1vmin;
}

#text_problem {
    width: 100vmin;
    height: 50vmin;
    font-size: 2vmin;
    border: none;
    outline: none;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 1vmin;
    margin: 1vmin 0 1vmin 0;
    padding: 1vmin;
}

.sort {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.sort_arrow {
    display: flex;
    justify-content: center;
}

.sort_arrow::after {
    content: '>';
    position: relative;
    rotate: 90deg;
}

.resort::after {
    rotate: 270deg;
}

.controls {
    display: flex;
    align-items: center;
    width: 70vmin;
}

.controls span{
    margin-right: 2vmin;
}

.table {
    background-color: var(--light-color);
    margin: 1vmin 0 0 0;
}

.table tbody tr:nth-child(odd) {
    background-color: var(--mid-color);
}

.table tbody tr a {
    text-decoration: none;
}

.table tbody tr td:nth-child(1) {
    width: 60vmin;
}
.table thead tr th{
    padding-right: 1vmin;
}
.hidden {
    z-index: -1;
    opacity: 0;
}

.input_styled {
    border-radius: .5vmin;
    outline: none;
    margin-right: .5vmin;
    padding: .5vmin;
    border: 1px solid var(--mid-color);
}

.input_styled.small {
    width: 7vmin;
}

.button_styled {
    outline: none;
    color: var(--dark-color);
    background-color: var(--light-color);
    padding: .5vmin;
    border-radius: .5vmin;
    border: 1px solid var(--mid-color);
    cursor: pointer;
}

.checkbox_styled {
    cursor: pointer;
    position: relative;
    width: 4vmin;
    height: 2vmin;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-color: #c6c6c6;
    border-radius: 1vmin;
    transition: .5s;
    box-shadow: inset 0 0 .4vmin rgba(0, 0, 0, .2);
}

.checkbox_styled:before {
    content: '';
    position: absolute;
    width: 2vmin;
    height: 2vmin;
    border-radius: 1vmin;
    background-color: white;
    top: 0;
    left: 0;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 .2vmin .4vmin rgba(0, 0, 0, .2);
}

.checkbox_styled:checked {
    background-color: greenyellow !important;
}

.checkbox_styled:checked:before {
    left: 2vmin;
}

.checkbox_styled:disabled{
    background-color: gainsboro;
}

.checkbox_styled:disabled::before{
    background-color: gainsboro;
}

.my_message{
    border-radius: 1vmin;
    border-bottom-right-radius: 0;
    padding: 1vmin 1vmin 0 1vmin;
    width: 70vmin;
    float: right;
    margin-bottom: 1vmin;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.not_my_message{
    border-radius: 1vmin;
    border-bottom-left-radius: 0;
    padding: 1vmin 1vmin 0 1vmin;
    width: 70vmin;
    margin-bottom: 1vmin;
    float: left;
    background-color: var(--light-color);
    color: var(--dark-color);
}

.message_info{
    color: var(--mid-color);
    font-size: 1.3vh;
    margin: 1vmin;
    float: right;
}

#for_messages{
    width: 100vmin;
    height: 50vh;
    overflow-y: auto;
    scrollbar-color: rgb(80, 163, 190) var(--mid-color);
    scrollbar-width: thin;
}

textarea{
    resize: none;
}

#for_messages::-webkit-scrollbar {
    background-color: var(--mid-color);
    width: 10px;
    border-radius: 10px;
}

#for_messages::-webkit-scrollbar-track {
    border-radius: 10px;
}

#for_messages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
}