:root {
    --brand-color: #C0CBDA;
    --dark-color: #475569;
    --mid-color: #CBD5E1;
    --light-color: #F8FAFC;
}

* {
    font-family: Arial, sans-serif;
    color: var(--dark-color);
}

body {
    margin: 0;
    background-color: var(--mid-color);
}

#forms-wrap {
    width: 100%;
    min-height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputWrap {
    position: relative;
    width: 100vmin;
}

.inputWrap input {
    width: 100%;
    height: 4vmin;
    border: none;
    background: transparent;
    outline: none;
    font-size: 4vmin;
    margin-top: 3vmin;
    margin-bottom: 0.5vmin;
    letter-spacing: 0.1em;
}

.inputWrap .formPlaceholder {
    font-size: 4vmin;
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: .5s;
}

.inputWrap input:valid~.formPlaceholder,
.inputWrap input:focus~.formPlaceholder {
    color: dodgerblue;
    transform: translateY(-5vmin);
    font-size: 2vmin;
}

.inputWrap i {
    position: absolute;
    width: 100%;
    height: 0.5vmin;
    left: 0;
    bottom: 0;
    background-color: black;
    overflow: hidden;
}

.inputWrap i::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    background: linear-gradient(90deg, #ff1b69, #ff0, #2196f3, #9c27b0, #ff1b69);
    animation: animate 2s linear infinite;
}

.inputWrap input:valid~i::before,
.inputWrap input:focus~i::before {
    left: 0;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position: 50vw;
    }
}

.underForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.changeForm {
    cursor: pointer;
    font-size: 2vmin;
}

.formSubmit {
    cursor: pointer;
    border-radius: 2vmin;
    border:none;
    font-size: 3vmin;
    margin: 1vmin 0 1vmin;
    background-color: var(--light-color);
    padding: 1vmin;
    transition: .3s;
    color: var(--dark-color);
}

.formSubmit:hover {
    transition: .3s;
    background-color: var(--dark-color);
    color: var(--light-color);
}

#change_language_main_wrap{
    display: flex;
    justify-content: flex-end;
}

.formHint{
    position: absolute;
    left: 105%;
    top: 30%;
    background-image: url("img/warningSmall.svg");
    background-size: 100%;
    width: 4vmin;
    height: 4vmin;
}

.mainnav{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 2vmin;
}
.mainnav a{
    height: 100%;
    text-decoration: none;
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
    padding: 0 1vmin;
    white-space: nowrap;
}
.mainnav a:hover, .mainnav a:active{
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: .1s;
}

.rightmainmenu *{
    cursor: pointer;
}

.rightmainmenu{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.select{
    cursor: pointer;
    background-color: var(--light-color);
    border-color: var(--dark-color);
    border-radius: 2vmin;
    min-width: 4vmax;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: .1s .3s;
}

.select_open{
    border-radius: 2vmin 2vmin 0 0;
    transition: .1s;
}

select:hover{
    background-color: var(--mid-color);
}

.selected{
    padding: 1vmin;
}

.select_options{
    position: absolute;
    min-width: inherit;
    padding: 0;
    background-color: inherit;
    max-height: 0;
    border-radius: 0 0 2vmin 2vmin;
    overflow: hidden;
    z-index: 1;
    transition: .3s;
}

.options_open{
    padding: 1vmin 0 1vmin 0;
    max-height: 10vmin;
    transition: .3s .1s;
}

.select_options div{
    padding: 0 0 0 1vmin;
}

.select_options div:hover,.select_options div:hover{
    color: var(--light-color);
    background-color: var(--dark-color);
}

#user_profile{
    border-top: .5vh solid var(--brand-color);
    border-bottom: .5vh solid var(--dark-color);
    padding: 0 1vmin;
    color: var(--light-color);
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user_profile:hover,#user_profile:active{
    background-color: var(--light-color);
    border-bottom: .5vh solid var(--light-color);
    color: var(--dark-color);
    transition: .1s;
}

#user_menu_wrap{
    height: 100%;
    margin: 0 0 0 1vh;
    margin-right: 3vw;
}

#user_profile::after{
    content: ">";
    position: relative;
    rotate: 90deg;
    top: 40%;
    left: -50%;
}

#user_menu_wrap:hover #user_menu{
    display: block;
    transition: .1s;
}

#user_menu{
    margin: 0;
    display: none;
    transition: .1s;
}

#user_menu a{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1vmin;
    height: auto;
    transition: .1s;
}

#user_menu a:hover, #user_menu a:active{
    color: var(--dark-color);
    background-color: var(--light-color);
    transition: .1s;
}